

*, *::before, *::after {
    box-sizing: border-box;
  }

  :root {
    font-size: 16px;

    /* VARIABLES    */
    --color-background: #f0f0f0;
    --color-text: #333333;
    --color-text-light: #666666;
    --primary-color: #287FA4;

    --font-family: 'Roboto', sans-serif;

    --font-size-title: 7rem;
    --font-size-subtitle: 3.5rem;
    --font-size-h1: 2.5rem;
    --font-size-subsubtitle: var(--font-size-h1);
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-weight-title: 700;
    --font-weight-subtitle: 600;
    --font-weight-subsubtitle:400;
    --font-weight-h1: 700;
    --font-weight-h2: 600;
    --font-weight-body: 400;

    --sidebar-width: 37%;
    --header-height: 20%;
    --padding-l: 2rem;
    --padding-m: 1rem;
    --padding-s: 0.5rem;
  }

  body {
    margin: 0;

    background: var(--color-background), white;
    color: var(--color-text), black;

    font-family: var(--font-family), 'Arial', sans-serif;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
  }

  h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
  }

  h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
  }

  h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h2);
  }

  p {
    line-height: 1.6;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  a {
    text-decoration: none;
    display:inline-block;
    color: var(--color-primary);
    transition: opacity .3s ease, transform .3s ease;
  }
  a:hover {
    opacity: .7;
    transform: scale(1.05);
    text-decoration: underline;
  }

/* BASIC LAYOUT*/

.cv-container {
    height: 29.7cm;
    width: 21cm;
    overflow: hidden; 
    display: flex;   
}

.sidebar {
    width: var(--sidebar-width);
    margin-right: var(--padding-m);
    flex-shrink: 0;
}

.main {
    margin-left: var(--padding-m);
    padding: var(--padding-l);
}